form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 15px;

  
}
iframe{
    border: none;
    width: 320px;
    height: 250px;
 
}

@media (min-width: 768px) {
    form{
        margin: 30px;
    }
    iframe {
      width: 550px;
      height: 480px;
      margin: 30px;
    }
  }
  

.comunidad{
    background-color:transparent;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}