.button-Input{
    border-radius: 2em;
    border: 1px solid #cfcccc;
    padding: 12px;
    margin: 15px;
    background-color: transparent;

}


.favorites{
    border: none;
    background-color: transparent;
    padding: 10px;
   
}

.list-card{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
  
      
    
}

.img-card{
    border-radius: 2em;
}

